//customize your own CSS for page display
@media (min-width: 34em)
  .side-card
    width: 15.25424%;
    min-width: 165px;
    float: left;
    margin-right: 1.69492%;
    opacity: 0.75;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    if hexo-config('box_shadow') && hexo-config('box_shadow.enable')
      -webkit-box-shadow: 0 4px 8px 6px rgba(7,17,27,0.06);
      box-shadow: 0 4px 8px 6px rgba(7,17,27,0.06);
    .card-wrap
      padding: 10px 10px 10px 17px;
      text-align: center
