.header_wrap
    #blog_name
        a#site-name.blog_title(href=url_for('/')) #[=config.title]
    button.menus_icon
        .navicon
    ul.menus_items
        each item in navMenu
            if !item.items
                li.menus_item
                    a.site-page(href=url_for(item.href))=' ' + item.label
            else
                li.menus_item
                    a.site-page=' ' + item.label
