.nav-wrap
    .nav
        button.site-nav
            .navicon
        ul.nav_items
            each item in navMenu
                if !item.items
                    li.nav_item
                        a.nav-page(href=url_for(item.href))=' ' + item.label
                else
                    li.nav_item
                        a.nav-page=' ' + item.label
    .cd-top
        i(class="fa fa-arrow-up" aria-hidden="true")
